<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
	<title>Linkcollector</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css"
			href="../css/default.css" th:href="@{/resources/css/default.css}" />
	<link rel="shortcut icon" type="image/x-icon"
			   href="../images/favicon.ico'" th:href="@{/resources/images/favicon.ico}" />
    </head>

    <body>
	<div id="wrapper">
	    <div th:replace="template :: header"></div>
	    <div class="just-text">
		<h2>Using Linkcollector</h2>
		<ol>
		    <li>On the homepage enter the search query.</li>
		    <li>Fill the tags table.</li>
		    <li>Press <em>Search</em> button.
		    </li>
		    <li>Linkcollector will send your search query to the Bing
			search engine. Eache result from the Bing will be scanned for
			presents of the tag's text. If tag's text is present on the result
			page, the page score value will be increased on the tag's weight.</li>
		    <li>All processed Bing results will be shown sorted by the
			score value.</li>
		    <li>You can click <em>Edit search</em> link to edit search
			parameters and repeat it. Or you can just click <em>HOME</em> to
			accomplish a new search.
		    </li>
		</ol>
	    </div>
	    <div th:replace="template :: copyright"></div>
	</div>
    </body>
</html>
